body{
  background-color: https://content.invisioncic.com/r273030/monthly_2017_12/20171224002915_1.jpg.34699c25cbf6590fbfc822e08f67b6a0.jpg height="500" width="500">

}

hi{
  color: red;
}

p{
  color:blue:
}
